/* Styles General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: rgb(130, 106, 251);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* Styles Main HomePage*/

#tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#tabla td,
#tabla th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: justify;
}

#tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabla th:nth-child(even) {
    background-color: #3b83bd;
}

#tabla tr:hover {
    background-color: #ddd;
}

#tabla th:hover {
    background-color: #2f6794;
}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #3b83bd;
    color: white;
}

.secciones p {
    text-align: justify;
}



/* Styles Frameworks Frontend*/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}

.enlaces {
    position: sticky;
    top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    color: #2063ff;
}

.nav a:hover {
    background: #ccedff;
}

.nav a.activo {
    font-weight: 700;
    background: #2063ff;
    color: #fff;
}

.seccion {
    padding: 0px 40px 40px 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.seccion p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #414141;
}

.seccion br {
    margin-bottom: 20px;
}

.encabezado {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 20px;
}

.encabezado a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.encabezado a svg {
    width: 26px;
    height: 26px;
}


/* Styles Frameworks Backend*/



/* Styles Form Contact*/
.container-contact {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 5%;
}

.container-contact header {
    font-size: 1.5rem;
    color: #333;
    background: #fff;
    font-weight: 500;
    text-align: center;
}

.container-contact .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #707070;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}

.form button:hover {
    background: rgb(88, 56, 250);
}



/* Styles NavBar */
img {
    width: 100%;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #0b2239;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left .logo {
    width: 140px;
}

header .header-left nav {
    margin-left: 50px;
}

header .header-left nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}

nav .login-signup {
    display: none;
}

header .header-right {
    display: flex;
    align-items: center;
}

header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}

header .login-signup a {
    display: inline-block;
    color: #fff;
    background: #3b83bd;
    padding: 5px 12px;
    border-radius: 5px;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}



/* Styles Footer */
.container-footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #0b2239;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #3b83bd;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}



/* Responsive */
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }

    header .header-right .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }

    header .header-left nav.active {
        top: 70px;
    }

    header .header-left nav ul {
        display: block;
    }
}


@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }

    header .header-right .login-signup {
        display: none;
    }

    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }

    .footer-col {
        width: 100%;
    }
}